<ul>
  <li>Cart(<%= cart %>)</li>
  <li>Saved(0)</li>
</ul>
<hr>
<% if (cart > 0) { %>
    <h3>Products in your cart:</h3>
  <% for (let i = 0; i < itemsIn.length; i++) { %>
    <div class="product__card">
      <h4><%- itemsIn[i].title %></h4>
      <hr>
      <img src="" alt="<%= itemsIn[i].thumbnail %>">
      <h4>price: $<%- itemsIn[i].price %></h4>
      <p>stock: <%- itemsIn[i].stock %></p>
      <button onclick="remove('<%= itemsIn[i].id %>')">Remove</button>
    </div>
  <% } %>
  <div>
    <button onclick="buyCart()">Buy cart</button>
  </div>
<% } else { %>
    <h3>Cart is empty!</h3>
    <p>You can add some products on the <a href="/main">main page</a></p>
<% } %>

<script>
  async function remove(e) {
    alert('removed')
    let url = `/api/cart/id/${e}`
    await fetch(url, { method: 'put' });
  }
</script>

<div id="checkout" class="checkout__card visibility">
  <div class="card__order">
    <h3>Do you want to buy this?</h3>
    <% let initial = 0 %>
    <% for (let i = 0; i < itemsIn.length; i++) { %>
      <% const currentPrice = itemsIn[i].price %>
      <% initial = initial + currentPrice %>
      <p><b>Product:</b> <%= itemsIn[i].title %> ............ <b>$<%- itemsIn[i].price %></b></p>
      <% } %>
      <hr>
      <p><b>Total: $<%= initial %></b></p>
      <div>
        <button onclick="confirmed()">Confirm</button>
        <button onclick="goBack()">Go back</button>
      </div>
  </div>
</div>

<script>
  function confirmed() {
    let url = '/api/cart/purchase'
    fetch(url, { method: 'put'})
    alert(`Thank you for your purchase`);
    window.location = '/main'
  }
</script>